{% include '共用網頁/publicUseHeader.html' %}
    <title>個資委託告知</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='前台網頁/Front_login.css') }}">   -->
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="py-3">
                <a class="navbar-brand fw-bold" href="/">政府考試資訊平台</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!--<li class="nav-item">
                        <a class="nav-link" href="#">證書驗證</a>
                    </li>-->
                    {% if user %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="#">{{user}},您好</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/logout">登出</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/login">登入</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link fw-bold" href="/login">一般考生/薦送機關登入</a>
            <a class="flex-sm-fill text-sm-center nav-link fw-bold" href="/frontFeedBack">登入問題回報</a>
            <a class="flex-sm-fill text-sm-center nav-link fw-bold active" aria-current="page" href="/frontForgetPassword">忘記密碼</a>
        </nav>
    </div>

    <div class="container mt-5" id="BigmainForgetPasswordbox">
        <div class="container mt-1" id="mainForgetPasswordTitle">
            <div class="container mt-3" id="ForgetPassword">
                <h1>忘記密碼</h1>
            </div>
            <div class="container mt-3" id="ForgetPassword">
                <p>你還記得當初註冊的資料嗎？請選擇任一種填寫</p>
            </div>
        </div>
        <div class="container mt-1" id="mainForgetPassword">
            
            <div class="mb-3" id="email">
                <input type="radio" name="selectId" id="email">
                <label for="email">Email</label>
            </div>
            
            <div class="mb-3" id="selectTextBox">
                <input type="text" name="selectText" id="selectText">
            </div>
            
            <div class="mb-3" id="SubmitButtonBox">
                <button type="submit" class="btn btn-primary" id="SubmitButton">確定送出</button>
                <button type="button" class="btn btn-primary" id="backButton">回登入頁</button>
            </div>
        </div>
    </div>
    

    <style>
        #BigmainForgetPasswordbox{
            width: 30%;
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
        }
        #SubmitButtonBox{
            display: flex;
            justify-content: space-evenly; /* 水平分散 */
        }
    </style>
    
{% include '共用網頁/publicUseFooter.html' %}