{% include '共用網頁/publicUseHeader.html' %}
    <title>圖片預覽</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body style="background-color:black;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <div class="container mt-5">
        
         <div class="text-center">
            {% if result %}
                {% for item in result %}
                    <img src="{{item[0]}}" class="rounded" alt="...">
                {% endfor %}
            {% endif %}
        </div>
    </div>   
</body>
</html>