{% include '共用網頁/publicUseHeader.html' %}
    <title>考試類別排序</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/後台網頁/back_02_Registration_Management/back_01_ExamStudent_Register/css/back_ExamInfoSetting.css') }}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand " href="/index:8887">政府考試管理系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-1 align-items-center" style="margin-right: 10px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            報名管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/backExamRegister">一般考生報名</a></li>
                            <li><a class="dropdown-item" href="/backAgencyInfo">機關薦送報名</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            系統管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/backAccountSetting">帳號權限設定</a></li>
                            <li><a class="dropdown-item" href="/backEnvironmentSetting">系統環境設定</a></li>
                            <li><a class="dropdown-item" href="/backSMTPSetting">SMTP設定</a></li>
                            <li><a class="dropdown-item" href="/backSystemSearch">系統登入查詢</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            基本管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item" href="/backCarouselSetting">輪播圖維護</a></li>
                            <li><a class="dropdown-item" href="/backfastLinkSetting">快速連結維護</a></li>
                            <li><a class="dropdown-item" href="/backNewsSetting">最新消息維護</a></li>
                            <li><a class="dropdown-item" href="/backNormalQuestionDesSetting">常見問題資訊維護</a></li>
                            <li><a class="dropdown-item" href="/backNoticeSetting">注意事項維護</a></li>
                            <li><a class="dropdown-item" href="/backPaymentSetting">付款提示維護</a></li>
                            <li><a class="dropdown-item" href="/backUnitImage">單元形象維護</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backlogut">登出</a>
                    </li>
                </ul>            
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backExamRegister">考生報名資訊</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backExamStyleSetting">考試類別維護列表</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backExamStyleSort">考試類別維護排序</a>
            <a class="flex-sm-fill text-sm-center nav-link bg-warning text-dark fw-bold active" aria-current="page" href="/backExamInfoSetting">考試資訊列表</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backExamInfoAppend">考試資訊新增</a>
        </nav>
    </div>
    <div class="container mt-5">
        <table class="table table-warning table-hover">
            <tbody>     
                <tr>
                    <th scope="col" class="text-center">項目</th>
                    <th scope="col" class="text-center">所屬類別</th>
                    <th scope="col" colspan="2" class="text-center">標題名稱</th>
                    <th scope="col" class="text-center">功能</th>
                    
                </tr>      
                <tr>
                    <td></td>
                    <td scope="col" class="text-center">
                        <select class="form-control text-center" name="selectStyle" id="selectStyle">
                            {% if resultSearch %}
                                {% for item in resultSearch%}
                                    <option value="{{loop.index}}">{{item[0]}}</option>                            
                                {% endfor%}                            
                            {% endif %}                            
                        </select>
                    </td>
                    <td scope="col" colspan="2" class="text-center"><input type="text"  class="form-control" name="normalQuestionDesTitle"></td>
                    <td class="text-center">
                        <input type="button" class="btn btn-warning fw-bold" value="查詢">
                        <input type="button" class="btn btn-warning fw-bold" value="清除">
                    </td>   
                </tr>
                     
                <tr>
                    <td scope="col" class="text-center" style="vertical-align: middle; text-align: center;">01</td>
                    <td scope="col" class="text-center" style="vertical-align: middle; text-align: center;">公共工程</td>
                    <td scope="col" colspan="2" class="text-center"  style="vertical-align: middle; text-align: center;">環保署公共衛生考試</td>
                    <td scope="col" class="text-center" style="vertical-align: middle; text-align: center;">
                        <input type="button" class="btn btn-warning fw-bold" value="檢視">
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>
    
</body>
</html>