{% include '共用網頁/publicUseHeader.html' %}
    <title>考試資訊新增</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='後台網頁/back_02_Registration_Management/back_01_ExamStudent_Register/css/Back_ExamInfoAppend.css') }}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index:8887">政府考試管理系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-1 align-items-center" style="margin-right: 10px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            報名管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/backExamRegister">一般考生報名</a></li>
                            <li><a class="dropdown-item" href="/backAgencyInfo">機關薦送報名</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            系統管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/backAccountSetting">帳號權限設定</a></li>
                            <li><a class="dropdown-item" href="/backEnvironmentSetting">系統環境設定</a></li>
                            <li><a class="dropdown-item" href="/backSMTPSetting">SMTP設定</a></li>
                            <li><a class="dropdown-item" href="/backSystemSearch">系統登入查詢</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            基本管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item" href="/backCarouselSetting">輪播圖維護</a></li>
                            <li><a class="dropdown-item" href="/backfastLinkSetting">快速連結維護</a></li>
                            <li><a class="dropdown-item" href="/backNewsSetting">最新消息維護</a></li>
                            <li><a class="dropdown-item" href="/backNormalQuestionDesSetting">常見問題資訊維護</a></li>
                            <li><a class="dropdown-item" href="/backNoticeSetting">注意事項維護</a></li>
                            <li><a class="dropdown-item" href="/backPaymentSetting">付款提示維護</a></li>
                            <li><a class="dropdown-item" href="/backUnitImage">單元形象維護</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backlogut">登出</a>
                    </li>
                </ul>            
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backExamRegister">考生報名資訊</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backExamStyleSetting">考試類別維護列表</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backExamStyleSort">考試類別維護排序</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backExamInfoSetting">考試資訊列表</a>
            <a class="flex-sm-fill text-sm-center nav-link bg-warning text-dark fw-bold active" aria-current="page" href="/backExamInfoAppend">考試資訊新增</a>
        </nav>
    </div>
    <div class="container mt-5">
        <table class="table table-warning table-hover">
            <thead>
                <td scope="col" colspan="4" class="text-center fw-bold">考試資訊搜尋</td>               
            </thead> 
            <tbody>
                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align: middle;">所屬類別</td>
                    <td scope="col" style="width:35%">
                        
                        <select class="form-control" name="ExamStyleID" id="ExamStyleID" style="width:100%">
                            <option value selected>請選擇類別</option>
                            {% if result %}
                                {% for item in result  %}
                                    <option value>{{item[0]}}</option>
                                {% endfor %}
                            {% endif %}
                            
                        </select>
                    </td>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align: middle;">顯示於前台</td>
                    <td scope="col" style="width:35%">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" role="switch" name="switchShowFront">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="col" colspan="1" class="text-center fw-bold" style="width:15%;vertical-align: middle;">標題</td>
                    <td scope="col" colspan="3" style="width:85%">
                        <input type="text" class="form-control" name="ExamTitle" id="ExamTitle" style="width:40%">
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align: middle;">梯次</td>
                    <td scope="col" style="width:35%">
                        <select class="form-control" name="ExamStyleID" id="ExamStyleID" style="width:100%">
                            <option value selected>請選擇類別</option>
                        </select>
                    </td>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align: middle;">級別</td>
                    <td scope="col" style="width:35%">
                        <select class="form-control" name="ExamStyleID" id="ExamStyleID" style="width:100%">
                            <option value selected>請選擇類別</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="fw-bold" style="width:15%;vertical-align: middle;" rowspan="5">報名人數設定</td>
                    <td scope="col" class="fw-bold" style="width:35%">
                        <span>北部地區：</span><input type="number" name="northTotal" id="northTotal"><span> 人</span> 
                    </td>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align: middle;" rowspan="5">報名費用</td>
                    <td scope="col" rowspan="5" class="text-center" style="width:35%;vertical-align:middle;" >
                        <input type="text" name="ExamRegistrationFee" id="RegistrationFee">
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="fw-bold" style="width:35%">
                        <span>中部地區：</span><input type="number" name="CentralTotal" id="CentralTotal"><span> 人</span>
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="fw-bold" style="width:35%">
                        <span>南部地區：</span><input type="number" name="SouthTotal" id="SouthTotal"><span> 人</span>
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="fw-bold" style="width:35%">
                        <span>東部地區：</span><input type="number" name="EastTotal" id="EastTotal"><span> 人</span>
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="fw-bold" style="width:35%">
                        <span>離島地區：</span><input type="number" name="islandsTotal" id="islandsTotal"><span> 人</span>
                    </td>
                </tr>
                
                <tr>
                    <td scope="col" colspan="1" class="text-center fw-bold" style="width:15%;vertical-align: middle;">年齡限制</td>
                    <td scope="col" colspan="3" style="width:85%">
                        <input type="date" class="form-control" name="BirthDate" min="2024-01-01" max="2099-12-31" style="width:40%">
                    </td>
                </tr>
                <tr>
                    <td scope="col" colspan="1" class="text-center fw-bold" style="width:15%;vertical-align:middle;">考試資訊內文</td>
                    <td scope="col" colspan="3" style="width:85%">
                        <textarea class="form-control" name="ExamInfoDes" id="ExamInfoDes" cols="100" rows="10">請輸入考試資訊內文</textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="col" colspan="1" class="text-center fw-bold" style="width:15%;vertical-align:middle;">報名填寫內文</td>
                    <td scope="col" colspan="3" style="width:85%">
                        <textarea class="form-control" name="RegistrationDes" id="RegistrationDes" cols="100" rows="10">請輸入報名填寫內文</textarea>
                    </td>
                </tr>
                <tr>
                    <td scope="col" colspan="4" class="text-center fw-bold">日期時間設定</td>
                </tr>
                <tr>
                    <td scope="col" colspan="1" class="text-center fw-bold" style="width:15%;vertical-align:middle;">考試日期</td>
                    <td scope="col" colspan="3" style="width:85%">
                        <input type="date" class="form-control" name="ExamTestDate" min="2024-01-01" max="2099-12-31" style="width:40%">
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">文章上架時間</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="articleUploadDate" min="2024-01-01" max="2099-12-31">
                    </td>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">文章下架時間</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="articleRemoveDate" min="2024-01-01" max="2099-12-31">
                    </td>
                </tr>

                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">機關報名開始日期</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="AgencyApplyStartDate" min="2024-01-01" max="2099-12-31">
                    </td>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">機關報名結束日期</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="AgencyApplyEndDate" min="2024-01-01" max="2099-12-31">
                    </td>
                </tr>

                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">一般報名開始日期</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="NormalApplyStartDate" min="2024-01-01" max="2099-12-31">
                    </td>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">一般報名開始日期</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="NormalApplyEndDate" min="2024-01-01" max="2099-12-31">
                    </td>
                </tr>

                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">一般報名繳費截止日</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="NormalApplyPayEndDate" min="2024-01-01" max="2099-12-31">
                    </td>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">薦送報名繳費截止日</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="AgnecyApplyPayEndDate" min="2024-01-01" max="2099-12-31">
                    </td>
                </tr>

                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">考試通知單下載日期</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="ExamNoticeDownloadDate" min="2024-01-01" max="2099-12-31">
                    </td>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">成績查詢日期</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="ScoreSearchDate" min="2024-01-01" max="2099-12-31">
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">證書下載起始日期</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="CertificateStartDownloadDate" min="2024-01-01" max="2099-12-31" >
                    </td>
                    <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">證書下載結束日期</td>
                    <td scope="col" style="width:35%">
                        <input type="date" class="form-control" name="CertificateEndDownloadDate" min="2024-01-01" max="2099-12-31">
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="text-center fw-bold" colspan="4" class="text-center">關鍵字設定</td>
                </tr>
                <tr>
                    <td scope="col" colspan="1" class="text-center fw-bold" style="width:15%">網頁標題</td>
                    <td scope="col" colspan="3" style="width:85%">
                        <input type="text" class="form-control" name="inputWebTitle" id="inputWebTitle">
                    </td>
                </tr>
                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:15%">建立人員</td>
                    <td scope="col" class="text-center fw-bold" style="width:35%">333</td>
                    <td scope="col" class="text-center fw-bold" style="width:15%">建立日期</td>
                    <td scope="col" class="text-center fw-bold" style="width:35%">444</td>
                </tr>
                <tr>
                    <td scope="col" colspan="4" class="text-center">
                        <input type="submit" class="btn btn-warning fw-bold" value="確定送出">
                        <input type="button" class="btn btn-warning fw-bold" value="重新設定">
                    </td>
                </tr>
            </tbody>
        </table> 
    </div>    
</body>
</html>