{% include '共用網頁/publicUseHeader.html' %}
    <title>帳號修改</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='後台網頁/back_03_System_Management/back_02_AccountSetting/css/back_accountSearch.css') }}">  
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/index:8887">政府考試管理系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-1 align-items-center" style="margin-right: 10px;">                    
                    <li class="nav-item">                        
                        <a class="nav-link fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#" data-bs-dismiss="modal">{{user_name}}</a>
                    </li>
                    <li class="nav-item">                        
                        <a class="nav-link fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#LogoutModal" data-bs-dismiss="modal">登出</a>
                    </li>
                </ul>            
            </div>
        </div>
    </nav>

    <div class="container mt-5">                
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link fw-bold" href="/backAccountSetting">單筆帳號新增</a>
            <a class="flex-sm-fill text-sm-center nav-link fw-bold"  href="/backAccountImport">多筆帳號新增</a>
            <a class="flex-sm-fill text-sm-center nav-link fw-bold active" aria-current="page" href="/backAccountSearch">帳號設定-查詢</a>
            <a class="flex-sm-fill text-sm-center nav-link fw-bold" href="/backPersonalPasswordSetting">帳號設定-重設密碼</a>
        </nav>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2">
                <ul class="navbar-nav mb-2 mb-lg-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            報名管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item fw-bold" href="/backExamIndex">一般考生報名</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backAgencyInfo">機關薦送報名</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        {% if system_accountAdd == 'Y' or system_accountmodify == 'Y' or system_passwordReset or 
                              system_Environment == 'Y' or system_SMTPSetting == 'Y' or system_SystemSearch == 'Y' %}
                            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                系統管理模組
                            </a>
                        {% endif %}
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <!-- 如果使用者不是superuser則直接導入至帳號設定-查詢 -->
                            {% if system_accountAdd == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backAccountSetting">帳號權限設定</a></li>
                            {% else %}
                                <li><a class="dropdown-item fw-bold" href="/backAccountSearch">帳號權限設定</a></li>
                            {% endif %}

                            {% if system_Environment == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backEnvironmentSetting">系統環境設定</a></li>
                            {% endif %}
                            {% if system_SMTPSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backSMTPSetting">SMTP設定</a></li>
                            {% endif %}
                            <li><a class="dropdown-item fw-bold" href="/backSystemSearch">系統登入查詢</a></li>                         
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        {% if basic_CarouselSetting == 'Y' or
                            basic_FastLinkSetting == 'Y' or
                            basic_NewSetting == 'Y' or
                            basic_NormalQuestionSetting == 'Y' or
                            basic_NoticeSetting == 'Y' or
                            basic_PaymentSetting == 'Y' or
                            basic_UnitImageSetting == 'Y' %}
                            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                基本管理模組
                            </a>
                        {% endif %}
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            {% if basic_CarouselSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backCarouselSetting">輪播圖維護</a></li>
                            {% endif %}
                            {% if basic_FastLinkSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backfastLinkSetting">快速連結維護</a></li>
                            {% endif %}
                            
                            {% if basic_NewSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backNewsSetting">最新消息維護</a></li>
                            {% endif %}
                            {% if basic_NormalQuestionSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backNormalQuestionDesSetting">常見問題資訊維護</a></li>
                            {% endif %}
                            {% if basic_NoticeSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backNoticeSetting">注意事項維護</a></li>
                            {% endif %}
                            {% if basic_PaymentSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backPaymentSetting">付款提示維護</a></li>
                            {% endif %}
                            {% if basic_UnitImageSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backUnitImage">單元形象維護</a></li>
                            {% endif %}                                                                                                                                                        
                        </ul>
                    </li>                    
                </ul>
            </div>
            <div class="col-md-10">
                <table class="table table-info table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td scope="col" colspan="8" class="text-center fw-bold">使用者相關資訊</td>
                        </tr>
                        <tr>
                            {% if result %}
                                {% for item in result%}
                                    <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;width:25%">使用者名稱</td>
                                    <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;width:25%">{{item[0]}}</td>
                                    <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;width:25%">登入IP</td>
                                    <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;width:25%">{{item[3]}}</td>
                                {% endfor%}
                            {% endif %}
                        </tr>
                        <tr>
                            <th scope="col" colspan="7" class="text-center fw-bold">所有模組</th>
                        </tr>
                        <tr>
                            <td scope="col" colspan="1" class="text-center fw-bold" style="vertical-align:middle;width:10%">項次</td>
                            <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;width:30%">報名管理模組</td>
                            <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;width:30%">系統管理模組</td>
                            <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;width:30%">基本管理模組</td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">1</td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;width:15%;">一般考生報名</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;width:15%;">
                                {% if registrationResult[0][0]=='Y' %}
                                    <a class="btn btn-primary fw-bold" id="examRegisterClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="examRegisterOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;width:15%;">帳號權限設定</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;width:15%;">
                                {% if systemResult[0][0] == 'Y' or systemResult[0][1] == 'Y' or systemResult[0][2] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="" href="#" data-bs-toggle="modal" data-bs-target="#accountSubModal" >檢視</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="" href="#">啟用</a>
                                {% endif %}
                            </td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;width:15%;">輪播圖維護</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;width:15%;">
                                {% if basicResult[0][0] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="CarouselSettingClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="CarouselSettingOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">2</td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">機關薦送報名</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if registrationResult[0][1]=='Y' %}
                                    <a class="btn btn-primary fw-bold" id="agnecyRegistrationClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="agnecyRegistrationOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">系統環境設定</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if systemResult[0][3] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="environmentSettingClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="environmentSettingOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">快速連結維護</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if basicResult[0][1] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="fastlinkSettingClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="fastlinkSettingOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">3</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">SMTP設定</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if systemResult[0][4] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="smtpSettingClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="smtpSettingOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">最新消息維護</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if basicResult[0][2] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="newsSettingClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="newsSettingOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">4</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">系統登入查詢</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if systemResult[0][5] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="systemSearchClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="systemSearchOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">常見問題資訊維護</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if basicResult[0][3] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="normalQuestionClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="normalQuestionOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">5</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">注意事項維護</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if basicResult[0][4] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="noticeSettingClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="noticeSettingOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">6</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">付款提示維護</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if basicResult[0][5] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="paymentSettingClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="paymentSettingOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                        </tr>
        
                        <tr>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">7</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center" style="vertical-align:middle;"></td>
                            <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">單元形象維護</td>
                            <td scope="col" class="text-center" style="vertical-align:middle;">
                                {% if basicResult[0][6] == 'Y' %}
                                    <a class="btn btn-primary fw-bold" id="unitImageSettingClose" href="#">關閉</a>
                                {% else %}
                                    <a class="btn btn-secondary fw-bold" id="unitImageSettingOpen" href="#">啟用</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td scope="col" colspan="7" class="text-center" style="vertical-align:middle;">
                                <a class="btn btn-primary fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#openModal">儲存設定</a> 
                                <a class="btn btn-primary fw-bold" href="#">重新設定</a>
                                {% if result[0][2] == 'N' %}
                                    <a class="btn btn-secondary fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#accountOpenModal" data-bs-dismiss="modal">啟動帳號</a>
                                {% else %}
                                    <a class="btn btn-primary fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#accountCloseModal" data-bs-dismiss="modal">關閉帳號</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <!-- ==============================帳號啟動畫面設定============================== -->
    <!-- 帳號啟動提示畫面 -->
    <div class="modal fade" id="accountOpenModal" tabindex="-1" aria-labelledby="accountOpenModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accountOpenModalLabel">帳號啟動訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">你確定要啟動帳號嗎</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#accountOpenResultModal" data-bs-dismiss="modal">確定</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 帳號已啟動提示畫面 -->
    <div class="modal fade" id="accountOpenResultModal" tabindex="-1" aria-labelledby="accountOpenResultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accountOpenResultModalLabel">帳號啟動訊息資料</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">帳號已啟動</div>
                <div class="modal-footer">
                    <form action="/backaccountOpen" method="POST" style="display: inline;">
                        <input type="hidden" name="hiddenaccount" value={{result[0][0]}}>
                        <input type="hidden" name="hiddenaccountOpen" value="Y">
                        <input type="submit" class="btn btn-primary" value="關閉">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ==============================帳號關閉畫面設定============================== -->
    <!-- 帳號關閉提示畫面 -->
    <div class="modal fade" id="accountCloseModal" tabindex="-1" aria-labelledby="accountCloseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accountCloseModalLabel">帳號關閉訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">你確定要關閉帳號嗎</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#accountCloseResultModal" data-bs-dismiss="modal">確定</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 帳號已關閉提示畫面 -->
    <div class="modal fade" id="accountCloseResultModal" tabindex="-1" aria-labelledby="accountCloseResultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accountCloseResultModalLabel">帳號關閉訊息資料</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">帳號已關閉</div>
                <div class="modal-footer">
                    <form action="/backaccountClose" method="POST" style="display: inline;">
                        <input type="hidden" name="hiddenaccount" value={{result[0][0]}}>
                        <input type="hidden" name="hiddenaccountClose" value="N">
                        <input type="submit" class="btn btn-primary" value="關閉">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ==============================帳號權限設定按鈕點擊後子畫面============================== -->
    <div class="modal fade" id="accountSubModal" tabindex="-1" aria-labelledby="accountSubModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="accountSubModalLabel">帳號權限所有設定</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-info table-hover table-bordered">
                        <tbody>
                            <tr>
                               <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">功能名稱</td>
                               <td scope="col" colspan="2" class="text-center fw-bold" style="width:70%;vertical-align:middle;">功能說明</td>
                               <td scope="col" class="text-center fw-bold" style="width:10%;vertical-align:middle;">使用狀態</td>
                            </tr>
                            <tr>
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">帳號新增</td>
                                <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;">aaa</td>
                                <td class="text-center" style="vertical-align:middle;">
                                    <a class="btn btn-secondary fw-bold" id="" href="#">啟用</a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">帳號查詢</td>
                                <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;">bbb</td>
                                <td scope="col" class="text-center" style="vertical-align:middle;">
                                    <a class="btn btn-secondary fw-bold" id="" href="#">啟用</a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">重設密碼</td>
                                <td scope="col" colspan="2" class="text-center fw-bold" style="vertical-align:middle;">ccc</td>
                                <td scope="col" class="text-center" style="vertical-align:middle;">
                                    <a class="btn btn-secondary fw-bold" id="" href="#">啟用</a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" colspan="4" class="text-center fw-bold">修改資訊</td>
                            </tr>
                            <tr>
                                {% if result %}
                                    {% for item in result%}
                                        <td class="text-center fw-bold" style="width:25%;vertical-align:middle;">修改人員</td>
                                        <td class="text-center fw-bold" style="width:25%;vertical-align:middle;">{{item[0]}}</td>
                                        <td class="text-center fw-bold" style="width:25%;vertical-align:middle;">修改日期</td>
                                        <td class="text-center fw-bold" style="width:25%;vertical-align:middle;">{{DateTime}}</td>
                                    {% endfor %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td scope="col" colspan="4" class="text-center fw-bold">
                                    <a class="btn btn-primary fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#SaveSubModal">儲存設定</a> 
                                    <a class="btn btn-primary fw-bold" href="#">重新設定</a>    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 帳號權限儲存前提示畫面 -->
    <div class="modal fade" id="SaveSubModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="SaveSubModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SaveSubModalLabel">帳號權限儲存訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">你確定要儲存帳號權限設定嗎</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#SaveSubResultModal" data-bs-dismiss="modal">確定</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SaveSubResultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="SaveSubResultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SaveSubResultModalLabel">帳號權限儲存訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">帳號權限已儲存設定</div>
                <div class="modal-footer">
                    <form action="#" method="POST">
                        <input type="text" name="hiddenaccountadd" id="hiddenaccountadd" value={{systemResult[0][0]}}>
                        <input type="text" name="hiddenaccountmodify" id="hiddenaccountmodify" value={{systemResult[0][1]}}>
                        <input type="text" name="hiddenapasswordReset" id="hiddenapasswordReset" value={{systemResult[0][2]}}>
                        
                    </form>
                    <a class="btn btn-primary" href="#">確定</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 第一個互動視窗：模組儲存確認 -->
    <div class="modal fade" id="openModal" tabindex="-1" aria-labelledby="openModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="openModalLabel">模組儲存訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">你確定要儲存模組設定嗎</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#openResultModal" data-bs-dismiss="modal">啟用</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="openResultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="openResultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="openResultModalLabel">模組儲存訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">模組設定已儲存</div>
                <div class="modal-footer">
                    <form action="#" method="POST">
                        <input type="text" name="hiddeexamRegistration" id="hiddeexamRegistration" value={{registrationResult[0][0]}}>
                        <input type="text" name="hiddeagencyRegistration" id="hiddeagencyRegistration" value={{registrationResult[0][1]}}>
                        <input type="text" name="hiddenaccountadd" id="hiddenaccountadd" value={{systemResult[0][0]}}>
                        <input type="text" name="hiddenaccountmodify" id="hiddenaccountmodify" value={{systemResult[0][1]}}>
                        <input type="text" name="hiddenapasswordReset" id="hiddenapasswordReset" value={{systemResult[0][2]}}>
                        <input type="text" name="hiddenenvironment" id="hiddenenvironment" value={{systemResult[0][3]}}>
                        <input type="text" name="hiddensmtp" id="hiddensmtp" value={{systemResult[0][4]}}>
                        <input type="text" name="hiddensystemsearch" id="hiddensystemsearch" value={{systemResult[0][5]}}>
                        <input type="text" name="hiddencarousel" id="hiddencarousel" value={{basicResult[0][0]}}>
                        <input type="text" name="hiddenfastlink" id="hiddenfastlink" value={{basicResult[0][1]}}>
                        <input type="text" name="hiddennews" id="hiddennews" value={{basicResult[0][2]}}>
                        <input type="text" name="hiddennormalqustion" id="hiddennormalqustion" value={{basicResult[0][3]}}>
                        <input type="text" name="hiddennotices" id="hiddennotices" value={{basicResult[0][4]}}>
                        <input type="text" name="hiddenpayment" id="hiddenpayment" value={{basicResult[0][5]}}>
                        <input type="text" name="hiddenunitimage" id="hiddenunitimage" value={{basicResult[0][6]}}>
                        
                    </form>
                    <a class="btn btn-primary" href="#">確定</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 登出帳號前提示畫面 -->
    <div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="LogoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutModalLabel">登出系統</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">你確定要登出帳號嗎</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#LogoutResultModal" data-bs-dismiss="modal">確定</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 登出帳號訊息畫面 -->
    <div class="modal fade" id="LogoutResultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="LogoutResultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutResultModalLabel">帳號登出訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">帳號已登出</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/backlogut">確定</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>