{% include '共用網頁/publicUseHeader.html' %}
    <title>帳號查詢</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='後台網頁/back_03_System_Management/back_02_AccountSetting/css/back_accountSearch.css') }}">  
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/index:8887">政府考試管理系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-1 align-items-center" style="margin-right: 10px;">                                        
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#" data-bs-dismiss="modal">{{user_name}}</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#LogoutModal" data-bs-dismiss="modal">登出</a> 
                    </li>
                </ul>            
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">                
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link fw-bold" href="/backAccountSetting">單筆帳號新增</a>
            <a class="flex-sm-fill text-sm-center nav-link fw-bold"  href="/backAccountImport">多筆帳號新增</a>
            <a class="flex-sm-fill text-sm-center nav-link fw-bold active" aria-current="page" href="/backAccountSearch">帳號設定-查詢</a>
            <a class="flex-sm-fill text-sm-center nav-link fw-bold" href="/backPersonalPasswordSetting">帳號設定-重設密碼</a>
        </nav>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2">
                <ul class="navbar-nav mb-2 mb-lg-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            報名管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item fw-bold" href="/backExamIndex">一般考生報名</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backAgencyInfo">機關薦送報名</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        {% if system_accountAdd == 'Y' or system_accountmodify == 'Y' or system_passwordReset or 
                              system_Environment == 'Y' or system_SMTPSetting == 'Y' or system_SystemSearch == 'Y' %}
                            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                系統管理模組
                            </a>
                        {% endif %}
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <!-- 如果使用者不是superuser則直接導入至帳號設定-查詢 -->
                            {% if system_accountAdd == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backAccountSetting">帳號權限設定</a></li>
                            {% else %}
                                <li><a class="dropdown-item fw-bold" href="/backAccountSearch">帳號權限設定</a></li>
                            {% endif %}

                            {% if system_Environment == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backEnvironmentSetting">系統環境設定</a></li>
                            {% endif %}
                            {% if system_SMTPSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backSMTPSetting">SMTP設定</a></li>
                            {% endif %}
                            <li><a class="dropdown-item fw-bold" href="/backSystemSearch">系統登入查詢</a></li>                         
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        {% if basic_CarouselSetting == 'Y' or
                            basic_FastLinkSetting == 'Y' or
                            basic_NewSetting == 'Y' or
                            basic_NormalQuestionSetting == 'Y' or
                            basic_NoticeSetting == 'Y' or
                            basic_PaymentSetting == 'Y' or
                            basic_UnitImageSetting == 'Y' %}
                            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                基本管理模組
                            </a>
                        {% endif %}
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            {% if basic_CarouselSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backCarouselSetting">輪播圖維護</a></li>
                            {% endif %}
                            {% if basic_FastLinkSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backfastLinkSetting">快速連結維護</a></li>
                            {% endif %}
                            
                            {% if basic_NewSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backNewsSetting">最新消息維護</a></li>
                            {% endif %}
                            {% if basic_NormalQuestionSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backNormalQuestionDesSetting">常見問題資訊維護</a></li>
                            {% endif %}
                            {% if basic_NoticeSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backNoticeSetting">注意事項維護</a></li>
                            {% endif %}
                            {% if basic_PaymentSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backPaymentSetting">付款提示維護</a></li>
                            {% endif %}
                            {% if basic_UnitImageSetting == 'Y' %}
                                <li><a class="dropdown-item fw-bold" href="/backUnitImage">單元形象維護</a></li>
                            {% endif %}                                                                                                                                                        
                        </ul>
                    </li>                    
                </ul>
            </div>                
            <div class="col-md-10">
                <table class="table table-primary table-striped table-hover">
                    <tr>
                        <td class="text-center fw-bold" style="width:30%;vertical-align:middle;">帳號</td>
                        <td class="text-center fw-bold" style="width:30%;vertical-align:middle;">使用者名稱</td>
                        <td class="text-center fw-bold" style="width:20%;vertical-align:middle;">帳號狀態</td>
                        <td class="text-center fw-bold" style="width:20%;vertical-align:middle;">功能</td>
                    </tr>
                    <tr>
                        <form action="/backAccountSearch" method="POST">
                            <td class="text-center">
                                <input type="text" class="form-control" id="inputAccount" placeholder=請輸入帳號 name="useraccount">                        
                            </td>
                            <td class="text-center">
                                <input type="text" class="input form-control" id="inputAccountName" placeholder="請輸入使用者名稱" name="username">
                            </td>
                            <td class="text-center">
                                <select class="form-control" name="statusId" id="statusSelect">
                                    <option value="Y">帳號啟用</option>
                                    <option value="N">帳號停用</option>
                                </select>
                            </td>
                            <td class="text-center">
                                <input type="submit" class="btn btn-primary fw-bold" id="allSearch" value="查閱"> 
                                <input type="button" class="btn btn-primary fw-bold" id="allClose" value="清除">
                            </td>
                        </form>                                                                            
                    </tr>
                    {% if result %}
                        {% for item in result %} 
                            <tr>                   
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">{{item[0]}}</td>
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">{{item[1]}}</td>
                                {% if item[2] == 'Y' %}
                                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">使用中</td>
                                {% else %}
                                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">已關閉</td>
                                {% endif %}
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">
                                    {% if user_id == "superuser" %}
                                        <a class="btn btn-primary fw-bold" href="/backaccountSearchSub?account={{item[0]}}">檢視</a>
                                    {% else %}
                                        {% if item[0] == user_id %}
                                            <a class="btn btn-primary fw-bold" href="/backaccountSearchSub?account={{item[0]}}">檢視</a>
                                        {% else %}
                                            <a class="btn btn-secondary fw-bold disabled" href="#">檢視</a>
                                        {% endif %}
                                    {% endif %}
                                    
                                    {% if user_id != "superuser"%}
                                        <a class="btn btn-secondary fw-bold disabled" href="#">修改</a>
                                         
                                    {% else %}
                                        {% if item[0] == "superuser" %}
                                            <a class="btn btn-secondary fw-bold disabled" href="#">修改</a>
                                        {% else %}                                    
                                            <a class="btn btn-primary fw-bold" href="/backaccountSearchModify?account={{item[0]}}">修改</a>
                                        {% endif %}                                    
                                    {%endif%} 
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>                
    </div>
    
    <!-- ==============================登出帳號部分==============================-->
    <div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="LogoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutModalLabel">登出系統</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">你確定要登出帳號嗎</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#LogoutResultModal" data-bs-dismiss="modal">確定</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="LogoutResultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="LogoutResultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutResultModalLabel">帳號登出訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">帳號已登出</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/backlogut">確定</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='後台網頁/back_03_System_Management/back_02_AccountSetting/javascript/back_accountSearch.js') }}"></script>    
</body>
</html>