*{
    margin: 0;
    padding: 0;
}

.title{
    font-size: 2em;
    text-align:center;
}

.carousel.slide{
    background-color:green;
}

#backendMainLoginBox{
    justify-content: center;
    align-content:center;
    height:800px;
}
#backendLoginBox {
    display:flex;
    background-color: #F9F5E3;
    width:60%; /* 設定 .container 的最大寬度，以避免寬度過大 */

}

#backendLoginAnimation{
    background-color: #CCF5AC;

}
.btn.btn.btn-primary{
    width: 100%;
}

#InputAccout,#InputPassword{
    width:100%;
}
.w-150 {
    width: 150%;
}

#backendLogoBox i {
    font-size: 30px;
    margin: 0 10px;
    color: #333;
    transition: color 0.3s ease;
}

#backendLogoBox i:hover {
    color: #007bff;
}

/* 調整圖標的位置 */
#backendLogoBox {
    margin-top: 20px;
}
