{% include '共用網頁/publicUseHeader.html' %}
    <title>薦送機關資料修改</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/後台網頁/back_02_Registration_Management/back_02_Agency_Register/css/back_AgencyInfoModify.css') }}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand text-dark fw-bold" href="/index:8887">政府考試管理系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-1 align-items-center" style="margin-right: 10px;">
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#LogoutModal" data-bs-dismiss="modal">登出</a>
                    </li>
                </ul>            
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link bg-warning text-dark fw-bold text-muted disabled-link active" aria-current="page" href="/backAgencyInfo">薦送機關修改</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backAgencyInfoAppend">薦送機關新增</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backAgencyInfoImport ">薦送機關匯入</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backAgencyInfoIndex">機關薦送報名</a>
        </nav>
    </div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2">
                <ul class="navbar-nav mb-2 mb-lg-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            報名管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item fw-bold" href="/backExamIndex">一般考生報名</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backAgencyInfo">機關薦送報名</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            系統管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item fw-bold" href="/backAccountSetting">帳號權限設定</a></li>
                                <li><a class="dropdown-item fw-bold" href="/backAccountSearch">帳號權限設定</a></li>
                                <li><a class="dropdown-item fw-bold" href="/backEnvironmentSetting">系統環境設定</a></li>
                                <li><a class="dropdown-item fw-bold" href="/backSMTPSetting">SMTP設定</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backSystemSearch">系統登入查詢</a></li>                         
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            基本管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item fw-bold" href="/backCarouselSetting">輪播圖維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backfastLinkSetting">快速連結維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backNewsSetting">最新消息維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backNormalQuestionDesSetting">常見問題資訊維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backNoticeSetting">注意事項維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backPaymentSetting">付款提示維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backUnitImage">單元形象維護</a></li>                                                                                                                                                    
                        </ul>
                    </li>                    
                </ul>
            </div>
            <div class="col-md-10">
                <table class="table table-warning table-hover">
                    <tbody>
                        <tr>
                            <td scope="col" colspan="4" class="text-center fw-bold">薦送機關基本資料</td>
                        </tr>
                        {% if result%}
                            {% for item in result%}
                                <tr>
                                    <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">機關代碼</td>
                                    <td scope="col" class="fw-bold" >
                                        <input type="text" class="form-control" name="AgencyDepartmentID" id="AgencyDepartmentID" value="{{item[0]}}">
                                        <small id="AgencyDepartmentID_ErrorText" class="error-text d-none" style="color: red;">請輸入機關代碼</small>
                                    </td>
                                    <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">機關名稱</td>
                                    <td scope="col" class="fw-bold" >
                                        <input type="text" class="form-control" name="AgencyDepartmentName" id="AgencyDepartmentName" value="{{item[1]}}">
                                        <small id="AgencyDepartmentName_ErrorText" class="error-text d-none" style="color: red;">請輸入機關名稱</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="1" class="text-center fw-bold" style="width:20%;vertical-align:middle;">機關地址</td>
                                    <td scope="col" colspan="3" class="text-center fw-bold" style="vertical-align:middle;">
                                        <div class="d-flex flex-column align-items-start position-relative">
                                            <div class="d-flex w-100">
                                                <input type="text" class="form-control" name="AgencyDepartmentAreaCode" id="AgencyDepartmentAreaCode" style="width:20%;vertical-align:middle;" value="{{item[2]}}">
                                                <input type="text" class="form-control" name="AgencyDepartmentAddress" id="AgencyDepartmentAddress" style="width:60%;vertical-align:middle;" value="{{item[3]}}">
                                                <a class="btn btn-warning" href="#" data-bs-toggle="modal" data-bs-target="#AddressModal">選取</a>
                                            </div>
                                            <small id="AgencyDepartmentAddress_ErrorText" class="error-text d-none" style="color: red;">請輸入機關地址</small>
                                        </div>
                                    </td>                 
                                </tr>
                                <tr>
                                    <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">機關類型</td>
                                    <td scope="col" class="fw-bold" >
                                        <input type="text" class="form-control" name="AgencyDepartmentTyped" id="AgencyDepartmentTyped" value="{{item[4]}}">
                                        <small id="AgencyDepartmentTyped_ErrorText" class="error-text d-none" style="color: red;">請選擇機關類型</small>
                                    </td>
                                    <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">所屬機關</td>
                                    <td scope="col" class="fw-bold" >
                                        <input type="text" class="form-control" name="Agencyaffiliated" id="Agencyaffiliated" value="{{item[5]}}">
                                        <small id="Agencyaffiliated_ErrorText" class="error-text d-none" style="color: red;">請選擇所屬機關</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">機關電話</td>
                                    <td scope="col" class="fw-bold" >
                                        <input type="phone" class="form-control" name="AgencyDepartmentPhone" id="AgencyDepartmentPhone" value="{{item[6]}}">
                                        <small id="AgencyDepartmentPhone_ErrorText" class="error-text d-none" style="color: red;">請輸入機關電話</small>
                                    </td>
                                    <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">機關傳真</td>
                                    <td scope="col" class="fw-bold" ><input type="phone" class="form-control" name="AgencyDepartmentFax" id="AgencyDepartmentFax" value="{{item[7]}}"></td>
                                </tr>
                                <tr>
                                    <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">資料建立人員</td>
                                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">{{Handler}}</td>
                                    <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">資料建立時間</td>
                                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">{{DateTime}}</td>
                                </tr>
                                <tr>
                                    <td scope="col" colspan="4" class="text-center">
                                        <a class="btn btn-warning fw-bold" href="#" id="submitBtn">確定修改</a>
                                        <input type="button" class="btn btn-warning fw-bold" value="重新設定" id="resetButton">
                                        <a class="btn btn-warning fw-bold" href="#" onclick="history.back()">回上一頁</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td scope="col" colspan="4" class="text-center fw-bold">目前無任何薦送機關資料</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AddressModal" tabindex="-1" aria-labelledby="AddressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="AddressModalLabel">地址設定</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-warning table-hover table-bordered">
                        <tbody>
                            <tr>
                                <td scope="col" class="text-center fw-bold" style="width:15%;vertical-align:middle;">郵遞區號</td>
                                <td scope="col" class="text-center fw-bold" style="width:10%;vertical-align:middle;">縣轄市</td>
                                <td scope="col" class="text-center fw-bold" style="width:10%;vertical-align:middle;">行政區</td>
                                <td scope="col" class="text-center fw-bold" style="width:65%;vertical-align:middle;">道路名稱</td>
                            </tr>
                            <tr>
                                <td  scope="col" class="text-center fw-bold">
                                    <select class="form-control" ame="AreaCode" id="AreaCode">
                                        <option value selected>請選擇郵遞區號</option>
                                        <option value="242">242</option>
                                        <option value="243">243</option>
                                    </select>
                                </td>
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">
                                    <input type="text" class="form-control" name="Country" id="Country" disabled>
                                </td>
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;" >
                                    <input type="text" class="form-control" name="Area" id="Area" disabled>
                                </td>
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">
                                    <input type="text" class="form-control" name="Address" id="Address">
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" colspan="1" class="text-center fw-bold" style="vertical-align:middle;">地址</td>
                                <td scope="col" colspan="3" class="text-center fw-bold">
                                    <input type="text" class="form-control" name="AddressProcess" id="AddressProcess">
                                </td>
                            </tr>
                            <tr>
                                <td scope="col" colspan="4" class="text-center">
                                    <a class="btn btn-warning fw-bold" href="#" data-bs-dismiss="modal">確定送出</a>
                                    <a class="btn btn-warning fw-bold" href="#" data-bs-dismiss="modal">重新設定</a>
                                    <a class="btn btn-warning fw-bold" href="#" data-bs-dismiss="modal">關閉畫面</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="LogoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutModalLabel">登出系統</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">你確定要登出帳號嗎</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#LogoutResultModal" data-bs-dismiss="modal">確定</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="LogoutResultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="LogoutResultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutResultModalLabel">帳號登出訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">帳號已登出</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/backlogut">確定</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>