    <footer>
        <div class="mainFooter">
            <div class="leftFooter">
                <div class="itembox">
                    aaaaaa
                </div>
                <div class="itembox">
                    bbb
                </div>
            </div>
            <div class="rightFotter">
                <div class="itembox">
                    ccc
                </div>
                <div class="itembox">
                    ddd
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>