{% include '共用網頁/publicUseHeader.html' %}
    <title>帳號新增</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='後台網頁/Back_accountSetting.css') }}">   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index:8887">政府考試管理系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-1 align-items-center" style="margin-right: 10px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            報名管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/backExamRegister">一般考生報名</a></li>
                            <li><a class="dropdown-item" href="/backAgencyInfo">機關薦送報名</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            系統管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/backAccountSetting">帳號權限設定</a></li>
                            <li><a class="dropdown-item" href="/backEnvironmentSetting">系統環境設定</a></li>
                            <li><a class="dropdown-item" href="/backSMTPSetting">SMTP設定</a></li>
                            <li><a class="dropdown-item" href="/backSystemSearch">系統登入查詢</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            基本管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item" href="/backCarouselSetting">輪播圖維護</a></li>
                            <li><a class="dropdown-item" href="/backfastLinkSetting">快速連結維護</a></li>
                            <li><a class="dropdown-item" href="/backNewsSetting">最新消息維護</a></li>
                            <li><a class="dropdown-item" href="/backNormalQuestionDesSetting">常見問題資訊維護</a></li>
                            <li><a class="dropdown-item" href="/backNoticeSetting">注意事項維護</a></li>
                            <li><a class="dropdown-item" href="/backPaymentSetting">付款提示維護</a></li>
                            <li><a class="dropdown-item" href="/backUnitImage">單元形象維護</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backlogut">登出</a>
                    </li>
                </ul>            
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link" href="/backAgencyInfo">薦送機關資料維護</a>
            <a class="flex-sm-fill text-sm-center nav-link"  href="/backAgencyInfoAppend">薦送機關資料新增</a>
            <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page"  href="/backAgencyPersonalInfo">薦送機關人員資料</a>
            <a class="flex-sm-fill text-sm-center nav-link"  href="/backAgencyPersonalReview">薦送考生資料維護</a>
            <a class="flex-sm-fill text-sm-center nav-link"  href="/backAgencyPersonalReviewAppend">薦送考生資料新增</a>
            <a class="flex-sm-fill text-sm-center nav-link"  href="/backAgencyPersonalReviewImport">薦送考生資料匯入</a>
            <a class="flex-sm-fill text-sm-center nav-link"  href="/backAgencyTextReview">薦送人員清單文字維護</a>
        </nav>
    </div>
    <div class="container mt-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" colspan="4" class="text-center">薦送人員基本資料</th>
                </tr>
            </thead>
            <tbody>
                {% if result %}
                    {% for item in result %}
                    <tr>
                        <td class="text-center" style="width:15%;vertical-align:middle;">中文姓名</td>
                        <td class="text-center" style="width:35%;"><input type="text" name="inputName" class="form-control inputTitle" value={{item[0]}} disabled></td>
                        <td class="text-center" style="width:15%;vertical-align:middle;">身分證字號</td>
                        <td class="text-center" style="width:35%;"><input type="text" name="inputID" class="form-control inputID" value='．．．．．．．．．．' disabled></td>
                    </tr>
                    <tr >
                        <td class="text-center" style="width:15%;vertical-align:middle;">年齡</td>
                        <td class="text-center" style="width:35%;"><input type="number" name="inputAge" class="form-control inputAge"  disabled></td>
                        <td class="text-center" style="width:15%;vertical-align:middle;">地址</td>
                        <td class="text-center" style="width:35%;"><input type="text" name="inputAddress" class="form-control inputAddress" value='．．．．．．．．．．' disabled></td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width:15%;vertical-align:middle;">手機/電話</td>
                        <td class="text-center" style="width:35%;"><input type="text" name="inputPhone" class="form-control inputPhone" value='．．．．．．．．．．' disabled></td>
                        <td class="text-center" style="width:15%;vertical-align:middle;">Email</td>
                        <td class="text-center" style="width:35%;"><input type="text" name="inputEmail" class="form-control inputEmail" value={{item[5]}} disabled></td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width:15%;vertical-align:middle;">薦送機關</td>
                        <td class="text-center" style="width:35%;"><input type="text" name="inputAgency" class="form-control inputAgency" value={{item[6]}} disabled></td>
                        <td class="text-center" style="width:15%;vertical-align:middle;">薦送機關部門</td>
                        <td class="text-center" style="width:35%;"><input type="text" name="inputAgencyDepa" class="form-control inputAgencyDepa" value={{item[7]}} disabled></td>
                    </tr>
                    <tr>
                        <td class="text-center" style="width:15%;vertical-align:middle;">薦送機關電話</td>
                        <td class="text-center" style="width:35%;"><input type="text" name="inputAgencyPhone" class="form-control inputAgencyPhone" value={{item[9]}} disabled></td>
                        <td class="text-center" style="width:15%;vertical-align:middle;">薦送機關地址</td>
                        <td class="text-center" style="width:35%;"><input type="text" name="inputAgencyAddress" class="form-control inputAgencyAddress" value={{item[8]}} disabled></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div> 
</body>
</html>