{% include '共用網頁/publicUseHeader.html' %}
    <title>薦送機關人員資料</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/後台網頁/back_02_Registration_Management/back_02_Agency_Register/css/back_AgencyPersonalInfo.css') }}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index:8887">政府考試管理系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-1 align-items-center" style="margin-right: 10px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            報名管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/backExamRegister">一般考生報名</a></li>
                            <li><a class="dropdown-item" href="/backAgencyInfo">機關薦送報名</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            系統管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" href="/backAccountSetting">帳號權限設定</a></li>
                            <li><a class="dropdown-item" href="/backEnvironmentSetting">系統環境設定</a></li>
                            <li><a class="dropdown-item" href="/backSMTPSetting">SMTP設定</a></li>
                            <li><a class="dropdown-item" href="/backSystemSearch">系統登入查詢</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            基本管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item" href="/backCarouselSetting">輪播圖維護</a></li>
                            <li><a class="dropdown-item" href="/backfastLinkSetting">快速連結維護</a></li>
                            <li><a class="dropdown-item" href="/backNewsSetting">最新消息維護</a></li>
                            <li><a class="dropdown-item" href="/backNormalQuestionDesSetting">常見問題資訊維護</a></li>
                            <li><a class="dropdown-item" href="/backNoticeSetting">注意事項維護</a></li>
                            <li><a class="dropdown-item" href="/backPaymentSetting">付款提示維護</a></li>
                            <li><a class="dropdown-item" href="/backUnitImage">單元形象維護</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backlogut">登出</a>
                    </li>
                </ul>            
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backAgencyInfo">薦送機關資料維護</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backAgencyInfoAppend">薦送機關資料新增</a>
            <a class="flex-sm-fill text-sm-center nav-link bg-warning text-dark fw-bold active" aria-current="page"  href="/backAgencyPersonalInfo">薦送機關人員資料</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backAgencyPersonalReview">薦送考生資料維護</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backAgencyPersonalReviewAppend">薦送考生資料新增</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backAgencyPersonalReviewImport">薦送考生資料匯入</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold"  href="/backAgencyTextReview">薦送人員清單文字維護</a>
        </nav>
    </div>
    <div class="container mt-5">
        <table class="table table-warning table-hover">
            <tbody>
                <tr>
                    <td scope="col" class="text-center fw-bold" style="width:10%">中文姓名</td>
                    <td scope="col" class="text-center fw-bold" style="width:20%">電子信箱</td>
                    <td scope="col" class="text-center fw-bold" style="width:10%">行動電話</td>
                    <td scope="col" class="text-center fw-bold" style="width:10%">身分證字號</td>
                    <td scope="col" class="text-center fw-bold" style="width:35%">所屬機關</td>
                    <td scope="col" class="text-center fw-bold" style="width:15%">功能</td>
                </tr>
                <tr>
                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;"><input class="form-control" type="AgencyPersonName" style="width:100%"></td>
                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;"><input class="form-control" type="AgencyPersonEmail" style="width:100%"></td>
                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;"><input class="form-control" type="AgencyPersonPhone" style="width:100%"></td>
                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;"><input class="form-control" type="AgencyPersonID" style="width:100%"></td>
                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;"><input class="form-control" type="Agency" style="width:100%"></td>
                    <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">
                        <button type="button" class="btn btn-warning fw-bold" id="search">查詢</button>
                        <button type="button" class="btn btn-warning fw-bold" id="export">匯出</button>
                    </td>
                 </tr>
                {% if result %}
                    {% for item in result %}
                        <tr>            
                            <td class="text-center fw-bold" style="vertical-align:middle;">{{item[0]}}</td>
                            <td class="fw-bold" style="vertical-align:middle;">{{item[1]}}</td>
                            <td class="text-center fw-bold" style="vertical-align:middle;">{{item[2]}}</td>
                            <td class="text-center fw-bold" style="vertical-align:middle;">{{item[3]}}</td>
                            <td class="text-center fw-bold" style="vertical-align:middle;">{{item[4]}}</td>
                            <td class="text-center fw-bold" style="vertical-align:middle;">
                                <a class="btn btn-warning fw-bold" href="/backAgencyPersonalInfoSub?Name={{item[0]}}">查閱</a>
                                <!-- <a class="btn btn-primary" href="/backAgencyPersonalInfoModify">修改</a> -->
                                <a class="btn btn-warning fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#VerifyModal">修改</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    
    <!-- 第一個互動視窗：輸入密碼確認 -->
    <div class="modal fade" id="VerifyModal" tabindex="-1" aria-labelledby="VerifyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="VerifyModalLabel">請輸入密碼</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">請輸入你的密碼</div>
                <div class="modal-footer">
                    <input type="text" name="VerifyPassWord" id="VerifyPassWord" class="form-control">
                    <button class="btn btn-primary" onclick="verifyPassword()">確定</button>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 第二個互動視窗：密碼錯誤 -->
    <div class="modal fade" id="ErrorModal" tabindex="-1" aria-labelledby="ErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ErrorModalLabel">錯誤</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">密碼錯誤，請重試。</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='後台網頁/back_02_Registration_Management/back_02_Agency_Register/javascript/back_AgencyPersonalInfo.js') }}"></script>
</body>
</html>