{% include '共用網頁/publicUseHeader.html' %}
    <title>注意事項維護</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/後台網頁/back_04_basic_Management/back_05_NoticesSetting/css/back_NoticeSetting.css') }}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container-fluid">
            <a class="navbar-brand text-dark fw-bold" href="/index:8887">政府考試管理系統</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-1 align-items-center" style="margin-right: 10px;">
                    <li class="nav-item">
                        <a class="nav-link text-dark fw-bold" href="#" data-bs-toggle="modal" data-bs-target="#LogoutModal" data-bs-dismiss="modal">登出</a>
                    </li>
                </ul>            
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backNoticeStyleSetting">類別設定</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backNoticeStyleAppend">類別新增</a>
            <a class="flex-sm-fill text-sm-center nav-link bg-info text-dark fw-bold" aria-current="page" href="/backNoticeSetting">列表清單</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backNoticeAppend">新增資料</a>
            <a class="flex-sm-fill text-sm-center nav-link text-dark fw-bold" href="/backNoticeSort">資料排序</a>
        </nav>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2">
                <ul class="navbar-nav mb-2 mb-lg-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            報名管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item fw-bold" href="/backExamIndex">一般考生報名</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backAgencyInfo">機關薦送報名</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            系統管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item fw-bold" href="/backAccountSetting">帳號權限設定</a></li>
                                <li><a class="dropdown-item fw-bold" href="/backAccountSearch">帳號權限設定</a></li>
                                <li><a class="dropdown-item fw-bold" href="/backEnvironmentSetting">系統環境設定</a></li>
                                <li><a class="dropdown-item fw-bold" href="/backSMTPSetting">SMTP設定</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backSystemSearch">系統登入查詢</a></li>                         
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            基本管理模組
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item fw-bold" href="/backCarouselSetting">輪播圖維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backfastLinkSetting">快速連結維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backNewsSetting">最新消息維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backNormalQuestionDesSetting">常見問題資訊維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backNoticeSetting">注意事項維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backPaymentSetting">付款提示維護</a></li>
                            <li><a class="dropdown-item fw-bold" href="/backUnitImage">單元形象維護</a></li>                                                                                                                                                    
                        </ul>
                    </li>                    
                </ul>
            </div>
            <div class="col-md-10">
                <table class="table table-info table-striped table-hover">
                    <tbody>
                        <tr>
                            <td scope="col" colspan="6" class="text-center fw-bold">注意事項維護</td>
                        </tr>
                        <tr>
                            <td scope="col" colspan="1" class="text-center fw-bold" style="width:10%;vertical-align:middle;">項目</td>
                            <td scope="col" colspan="1" class="text-center fw-bold" style="width:10%;vertical-align:middle;">標題類別</td>
                            <td scope="col" colspan="1" class="text-center fw-bold" style="width:30%;vertical-align:middle;">標題名稱</td>
                            <td scope="col" colspan="1" class="text-center fw-bold" style="width:30%;vertical-align:middle;">標題內文</td>
                            <td scope="col" colspan="1" class="text-center fw-bold" style="width:20%;vertical-align:middle;">功能</td>
                            <td></td>
                        </tr>
                        {% if result %}
                            {% for item in result %}
                            <tr>
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">{{"{:02d}".format(loop.index)}}</td>
                                <td scope="col" class="text-center fw-bold" style="vertical-align:middle;">{{item[1]}}</td>
                                <td scope="col" class="fw-bold"style="vertical-align:middle;">{{item[2]}}</td>
                                <td scope="col" class="text-center fw-bold"style="vertical-align:middle;">
                                    <a class="btn btn-info fw-bold" id="" href="#" data-bs-toggle="modal" data-bs-target="#noticeStyleModal" >檢視</a>
                                </td>
                                <td scope="col" class="text-center" style="vertical-align:middle;">
                                    <a class="btn btn-info fw-bold" href="/backNoticeSub?noticeStyleTitle={{item[1]}}&inputTitle={{item[2]}}">查閱</a>
                                    <a class="btn btn-info fw-bold" href="/backNoticeModify?noticeStyleTitle={{item[1]}}&inputTitle={{item[2]}}">修改</a>
                                    <!-- <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#DeleteModal"></a> -->
                                </td>
                                <td>
                                    <div class="modal fade" id="noticeStyleModal" tabindex="-1" aria-labelledby="noticeStyleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title h4" id="noticeStyleModalLabel">注意事項類別</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-info table-hover table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">類別代號</td>
                                                                <td scope="col" class="text-center fw-bold">{{item[0]}}</td>
                                                                <td scope="col" class="text-center fw-bold" style="width:20%;vertical-align:middle;">類別名稱</td>
                                                                <td scope="col" class="text-center fw-bold">{{item[1]}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="col" colspan="1" class="text-center fw-bold" style="vertical-align:middle;">類別內文</td>
                                                                <td scope="col" colspan="3" class="text-center fw-bold">
                                                                    <textarea name="imageDes" class="form-control" id="imageDes" cols="100" rows="10">{{item[3]}}</textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td scope="col" colspan="4" class="text-center">
                                                                    <a class="btn btn-info fw-bold" href="#" data-bs-dismiss="modal">關閉畫面</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else%}
                        <tr>
                            <td scope="col" colspan="5" class="text-center">目前無任何資料</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 第一個互動視窗：刪除確認 -->
    <!-- <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteModalLabel">刪除資料</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">你確定要刪除資料嗎</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#DeleteResultModal" data-bs-dismiss="modal">刪除</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- 第二個互動視窗：已刪除 -->
    <!-- <div class="modal fade" id="DeleteResultModal" tabindex="-1" aria-labelledby="DeleteResultlModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteResultlModalLabel">已刪除資料</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">已經刪除</div>
                <div class="modal-footer">
                    <form action="#" method="POST" style="display: inline;">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DeleteResultModal" data-bs-dismiss="modal">關閉</button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="modal fade" id="LogoutModal" tabindex="-1" aria-labelledby="LogoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutModalLabel">登出系統</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">你確定要登出帳號嗎</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#LogoutResultModal" data-bs-dismiss="modal">確定</a>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="LogoutResultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="LogoutResultModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LogoutResultModalLabel">帳號登出訊息提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">帳號已登出</div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/backlogut">確定</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>